#canvas-container {
    width: 69.5vw;
    height: 100vh;
    position: relative;
}

#canvas-window {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70vw;
    max-height: 100vh;
    border: 1px dashed grey;
    padding: 0px;
    margin: 0px;
}

#canvas-window canvas {
    width: 100%;
    height: 100%;
}