#canvas-container {
    width: 100vw;
    height: 100vh;
}

#canvas-window {
    position: absolute;
    left: 50%;
    top: 0vh;
    transform: translateX(-50%);
    display: block;
    max-width: calc(8.5 / 11 * 100vh);
    max-height: 100vh;
    background-color: transparent;
    border: 2px dashed orange;
    padding: 0px;
    margin: 0px;
}

#canvas-window canvas {
    width: 100%;
    height: 100%;
}