.chat-window {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: width .5s, height .5s, opacity .5s, right .5s;
}

#nav-menu {
    width: 100%;
    height: 10%;
}

#msg-container *{
    transition: opacity .5s, width .5s, height .5s;
}

#msg-field {
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(45deg, var(--raspberry) 1%, black 1%, black 99%, var(--lime-green) 99%);
    width: 100%;
    height: 40vh;
    z-index: 1;
    border-right: 4px solid var(--lime-green);
    border-left: 4px solid var(--raspberry);
    border-top: 4px solid var(--lime-green);
    border-bottom:4px solid var(--raspberry);
    scrollbar-color: var(--lime-green) transparent;
}

#people-field, #room-field {
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 30vh;
    z-index: 1;
}

#input-container {
    height: 5vh;
    background-color: var(--menu-color);
    background: linear-gradient(45deg, var(--raspberry) 0%, var(--raspberry) 26.67%, var(--electric-blue) 26.67%, var(--electric-blue) 52.33%, var(--lime-green) 53.33%);
}

#people-container {
    background-color: var(--menu-color);
    overflow-y: scroll;
}

#room-container {
    background-color: var(--menu-color);
}

#msg-input input {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 65%;
    background-color: rgba(45,45,45,1);
    padding-left: 2.5%;
}


#msg-input input:hover {
    outline: 1px solid white;
}

#msg-submit {
    background-color: white;
    border: 2px solid red;
}