.chat-window {
    width: 110%;
    height: 100%;
    margin-right: -1px;
    z-index: 1;
    opacity: 1;
    transition: width .5s, height .5s, opacity .5s, right .5s;
}

#nav-menu {
    width: 30vw;
    height: 5vh;
}

#msg-container *{
    transition: opacity .5s, width .5s, height .5s;
}

#msg-field {
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 30vh;
    z-index: 1;
    margin-bottom: 1px;
}

#people-field, #room-field {
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 30vw;
    z-index: 1;
}

#input-container {
    height: 5vh;
}

#msg-input input {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 3.25vh;
    background-color: white;
    border-radius: 25px;
    z-index: 0;
}

#msg-submit {
    background-color: white;
}