.chat-window {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: width .5s, height .5s, opacity .5s, right .5s;
}

#nav-menu {
    width: 100%;
    height: 10%;
}

#msg-container *{
    transition: opacity .5s, width .5s, height .5s;
}

#msg-field {
    background: black;
    width: 100%;
    height: 40vh;
    z-index: 1;
}

#people-field, #room-field {
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 30vw;
    z-index: 1;
}

#input-container {
    height: 5vh;
    background-color: var(--menu-color);
}

#people-container {
    background-color: var(--menu-color);
    overflow-y: scroll;
}

#room-container {
    background-color: var(--menu-color);
}

#msg-input input {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 65%;
    background-color: rgba(45,45,45,1);
    padding-left: 2.5%;
}


#msg-input input:hover {
    outline: 1px solid white;
}

#msg-submit {
    background-color: white;
    border: 2px solid red;
}