.react-aria-ColorSlider {
  &[data-orientation=vertical] {
    position: relative;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .react-aria-SliderTrack {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 100%;
      border: 1px solid white;
      border-radius: 10px;
    }

    .react-aria-ColorThumb {
      position: relative;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
    }
  }
}

#color-preview {
    position: relative;
    width: 55%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#rgb-output {
    position: relative;
}

#rgb-output p {
    position: relative;
    width: fit-content;
    height: fit-content;
    line-height: 0px;
    font-size: min(1vw, 1.5vh);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slider-container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
}

#font-slider {
    position: relative;
    appearance: none;
    background: none;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 50%;
}

#font-slider::-webkit-slider-runnable-track {
    position: relative;
    background-color: transparent;
    height: 100%;
    border: 1px solid var(--slider-thumb-color);
}

#font-slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    width: 5%;
    height: 100%;
    background-color: var(--slider-thumb-color);
    border: 1px solid grey;
    top: 50%;
    transform: translateY(-50%);
}