:root {
  --selector-width: 15vw;
  --selector-max: 160px;
  --selector-min: 135px;
}

#color-picker-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  left: 50%;
  transform: translate(-50%, 0%);
}

.outer-circle {
  position: relative;
  width: var(--selector-width);
  height: var(--selector-width);
  max-width: var(--selector-max);
  max-height: var(--selector-max);
  min-width: var(--selector-min);
  min-height: var(--selector-min);
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: background .5s;
}

.outer-circle * { 
  transform-style: preserve-3d;
}

.color-bar {
  position: absolute;
  top: 47%;
  transform: (0%, -50%);
  width: 50%;
  height: 10px;
  transform-origin: 100% 50%;
}

.color-wrapper {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  transform: translateZ(10px);
}

.color-wrapper:hover .color{
  max-width: 50px;
  max-height: 50px;
  width: 4.1vw;
  height: 4.1vw;
  transform: translateZ(20px);
}
.color {
  width: 4vw;
  height: 4vw;
  min-width: 30px;
  min-height: 30px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50% 20%;
  transform:rotateX(.5deg);
  transition: width .1s, height .1s, max-width .1s, max-height .1s, transform .1s;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#inner-circle {
  width: calc(var(--selector-width) / 3);
  height: calc(var(--selector-width) / 3);
  border: 1px solid white;
  border-radius: 50%;
}

#black-white-container {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

#black:hover, #white:hover {
  border: 1px dashed grey;
}

#white, #black {
  transition: border .2s;
}
#white {
  position: relative;
  border: 1px solid black;
  height: 100%;
  border-radius: 5% 0% 0% 5%;
  background-color: white;
}

#black {
  position: relative;
  border: 1px solid white;
  height: 100%;
  border-radius: 0% 5% 5% 0%;
  background-color: black;
}
