:root {
    --transform-width: 25px;
    --confirm-green: #1dbc60;
}

#full-window {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
}

#comment-container {
    position: absolute;
    width: 300px;
    min-width: calc(4 * var(--transform-width));
    height: 0px;
    z-index: 0;
    min-height: 40px;
    border: 2px dashed orange;
}

#comment-field {
    position: absolute;
    left: 0%;
    top: 0%;
    width: calc(100% - (2 * var(--transform-width)));
    height: calc(100% - (2 * var(--transform-width)));
    transform: translate(var(--transform-width), var(--transform-width));
    border: 1px dashed white;
    overflow: hidden;
}

.transform {
    position: absolute;
    z-index: 2;
    width: var(--transform-width);
    aspect-ratio: 1 / 1;
    border: 1px dashed white;
    border-radius: 50%;
}

#actions-container {
    position: absolute;
    width: calc(3 * var(--transform-width));
    top: 0%;
    left: var(--transform-width);
}

.actions {
    position: relative;
    width: var(--transform-width);
    aspect-ratio: 1/1;
    border: 1px dashed white;
}

#confirm {
    background-color: var(--confirm-green);
    text-align: center;
}

#cancel {
    background-color: red;
    text-align: center;
}
.resize {
    transform: translate(-50%, -50%);
}
