@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --inspecting: rgba(80, 80, 80, .5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.test-border {
  border: 2px solid red;
}

.relative-center {
  position: relative;
  transform: translate(50%, 50%);
}

.grid-box {
    border: 1px solid red;
}

.glassy {
    /* From https://css.glass */
    background: rgba(15, 15, 15, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(25, 25, 25, 1);
    margin: 0px 1px 1px 0px;
    transition: background .2s;
    user-select: none;
}

.glassy:hover {
  background: var(--inspecting);
}

.set-inspecting {
  background: var(--inspecting);
  border: 1px solid rgb(150, 150, 150, 1);
}

.half-margin-right {
    margin-right: .5px;
}

.no-margin-right {
    margin-right: 0px;
}

.half-margin-bottom {
    margin-bottom: .5px;
}

.relative {
    position: relative;
}

.hidden {
  display: none;
}

.thin-text {
  font-weight: lighter;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}