textarea {
    resize: none;
    width: max(10vw, 5vh);
    aspect-ratio: 1/1;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 2.5%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1;
    overflow: hidden;
}