#note-container {
    padding: 0px;
    overflow: hidden;
}

#note-content {
    background: transparent;
    width: 100%;
    height: 100%;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1px;
    margin: 0px;
    overflow: hidden;
}

.preview-centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90% !important;
    height: 80% !important;
    max-height: 80% !important;
}

#confirm-button {
    width: 90%;
    height: 100%;
}

#confirm-button p {
    position: relative;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
}