:root {
    --lime-green: #32cd32;
    --soft-blue: #add8e6;
    --raspberry: #d21f3c;
}

#note-area {
    position: absolute;
    top: 0px;
    width: 200%;
    height: 100%;
}

#note-container {
    padding: 0px;
    overflow: hidden;
}

#note-content {
    box-sizing: border-box;
    background: transparent;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    overflow: hidden;
    resize: both;
}

.preview-centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90% !important;
    height: 80% !important;
    max-height: 80% !important;
}

#confirm-button {
    width: 90%;
    height: 100%;
}

.edit-buttons {
    display: block;
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#move-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--soft-blue);
    cursor: grab;
    transition: background-color .1s;
}

#post-button {
    background-color: var(--lime-green);
}

#cancel-button {
    background-color: var(--raspberry);
}