:root {
    --window-bg-color: transparent;
    --current-theme-border: 2px dashed white;
}

.window-container {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background: repeating-linear-gradient(135deg, rgb(15,15,15) , rgb(15,15,15) 2px, rgb(22, 22, 22) 2px, rgb(22,22,22) 4px);
}

.cursor-window {
    position: absolute;
    width: 100%;
    height: 100%;
}

.transparent {
    opacity: 0;
}
