:root {
    --window-bg-color: transparent;
    --current-theme-border: 2px dashed white;
}

.window-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    border: 2px solid purple;
    overflow: hidden;
}

.cursor-window {
    position: absolute;
    width: 100%;
    height: 100%;
}

#canvas-window {
    position: absolute;
    left: 50%;
    top: 0vh;
    transform: translateX(-50%);
    display: block;
    max-width: calc(8.5 / 11 * 100vh);
    max-height: 100vh;
    background-color: transparent;
    border: 2px dashed orange;
    padding: 0px;
    margin: 0px;
}

.chat-window {
    position: absolute;
    background-color: var(--window-bg-color);
    border-radius: 25px;
    width: 3vw;
    height: 45vh;
    min-width: 45px;
    top: 5%;
    right: 5%;
    z-index: 1;
    opacity: 1;
    transition: width .5s, height .5s, opacity .5s, right .5s
}

.transparent {
    opacity: 0;
}

#chat-window-toggle {
    border: 2px dashed white;
    background-color: var(--window-bg-color);
    width: 3vw;
    z-index: 2;
}

.chat-window-expanded {
    width: 20vw;
}

.chat-toggle-expanded {
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    right: 26vw;
}

.chat-window input {
    color: black;
}

.room-panel {
    position: absolute;
    right: 0%;
    bottom: 0px;
    border: 2px solid green;
}

#tool-bar-container {
    position: relative;
    top: 5%;
    left: 5%;
    width: 100px;
    height: 100px;
}

.tool-bar {
    position: absolute;
    margin: 0px;
    min-width: 45px;
    border: var(--current-theme-border);
    border-radius: 50px;
    transition: width .5s, height .5s, left .5s, transform .5s, border-radius .5s;
    overflow: hidden;
}

.tool-bar-close {
    background-color: var(--window-bg-color);
    width: 3vw;
    height: 3vw;
    min-width: 30px;
    min-height: 30px;
    left: 220%;
}

.tool-bar-expand {
    width: 3vw;
    height: 45vh;
    min-height: calc(fit-content + 2vh);
    left: 0%;
}

.tool-bar-content {
    background-color: var(--window-bg-color);
    width: 250px;
    height: 60vh;
    border-radius: 25px;
}

#tool-grid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
    width: 80%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    transition: opacity .5s, padding-top .5s;
}

.grid-box {
    border: 2px solid red;
}
#users-drop-down {
    border: var(--current-theme-border);
    border-radius: 25px;
    height: 5vh;
}

#msg-container {
    height: 5vh;
}

#msg-container *{
    transition: opacity .5s, width .5s, height .5s
}

#msg-field {
    border: var(--current-theme-border);
    background-color: transparent;
    border-radius: 25px;
    width: 100%;
    height: 35vh;
    z-index: 1;
}


#msg-input input {
    width: 100%;
    height: 4vh;
    background-color: white;
    border-radius: 25px;
    padding-left: 5%;
    z-index: 0;
}

#msg-submit {
    background-color: white;
}

#width-slider {
    --slider-thumb-bg: radial-gradient(white 0px,white 2px, transparent 2px, transparent 100%);
    position: relative;
    appearance: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#width-slider::-webkit-slider-runnable-track {
    position: relative;
    background-color: transparent;
    border: 1px dashed white;
    height: 8px;
    border-radius: 25px;
}

#width-slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background: var(--slider-thumb-bg);
    border: 1px dashed white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}