.window-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    border: 2px solid purple;
}

.cursor-window {
    position: absolute;
    width: 100%;
    height: 100%;
}

#canvas-window {
    display: block;
    background-color: transparent;
    border: 2px dashed orange;
    padding: 0px;
    margin: 0px;
}

.chat-window {
    position: absolute;
    background-color: black;
    border: 1px dashed white;
    right: 0px;
    height: 70vh;
    margin: 0px;
    z-index: 1;
}

.chat-window input {
    color: black;
}

.room-panel {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 2px solid green;
}

.tool-bar {
    position: absolute;
    bottom: 50%;
    left: 5%;
    transform: translateX(-50%);
    border: 2px dashed red;
    border-radius: 50px;
    transition: width .5s, height .5s, left .5s, transform .5s, border-radius .5s;
}

.tool-bar-close {
    left: max(15%, 250px);
    width: 5vh;
    height: 5vh;
    transform: translate(-50%, 0%);
}

.tool-bar-expand {
    width: 3vw;
    height: 45vh;
}

.tool-bar-content {
    width: 200px;
    height: 45vh;
    border-radius: 25px;
    left: max(120px, 7.5%);
}

#msg-field {
    border: 2px solid yellow;
    height: 95%;
}