.window-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    border: 2px solid purple;
}

.cursor-window {
    position: absolute;
    width: 100%;
    height: 100%;
}

#canvas-window {
    display: block;
    background-color: transparent;
    border: 2px dashed orange;
    padding: 0px;
    margin: 0px;
}

.chat-window {
    position: absolute;
    border: 2px dashed white;
    border-radius: 25px;
    width: 3vw;
    height: 45vh;
    min-width: 45px;
    top: 5%;
    right: 5%;
    z-index: 1;
    opacity: 1;
    transition: width .5s, height .5s, opacity .5s, right .5s
}

.transparent {
    opacity: 0;
}

#chat-window-toggle {
    width: 3vw;
    z-index: 2;
}

.chat-window-expanded {
    width: 20vw;
}

.chat-toggle-expanded {
    width: 3vw;
    height: 3vw;
    right: 28vw;
}

.chat-window input {
    color: black;
}

.room-panel {
    position: absolute;
    right: 0%;
    bottom: 0px;
    border: 2px solid green;
}

.tool-bar {
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0px;
    min-width: 45px;
    transform: translateX(-50%);
    border: 2px dashed red;
    border-radius: 50px;
    transition: width .5s, height .5s, left .5s, transform .5s, border-radius .5s;
}

.tool-bar-close {
    left: max(15%, 250px);
    width: 5vh;
    height: 5vh;
    transform: translate(-50%, 0%);
}

.tool-bar-expand {
    width: 3vw;
    height: 45vh;
}

.tool-bar-content {
    width: 200px;
    height: 45vh;
    border-radius: 25px;
    left: max(120px, 7.5%);
}

#users-drop-down {
    border: 2px solid yellow;
    border-radius: 25px;
    height: 5vh;
}

#msg-field {
    border: 2px solid yellow;
    background-color: blue;
    border-radius: 25px;
    width: 100%;
    height: 5vh;
}

#msg-input input {
    width: 100%;
    height: 4vh;
    background-color: orange;
    border-radius: 25px;
}

#msg-submit {
    background-color: white;
}