.window-container {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    border: 2px solid purple;
}

.cursor-window {
    height: 100%;
}

#canvas-window {
    display: block;
    background-color: transparent;
    border: 2px dashed orange;
    padding: 0px;
    margin: 0px;
}

.chat-window {
    background-color: black;
    height: 70vh;
    margin: 0px;
    z-index: 1;
}

.chat-window input {
    color: black;
}

.room-panel {
    border: 2px solid green;
}

#msg-field {
    border: 2px solid yellow;
    height: 95%;
}