.switch-container {
    width: 50%;
    height: 30px;
    background-color: white;
    border-radius: 15px;
}

.switch-toggle {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    width: 44%;
    height: 90%;
    transition: left .2s;
    border-radius: 15px;
}