:root {
    --icon-size: 35%;
}

#side-bar-container {
    position: absolute;
    right: 0px;
    width: 30vw;
    height: 100vh !important;
    overflow: hidden;
}

#side-bar-overlay {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30vw;
    height: 100vh;
}

#edit-section {
    height: 50% !important;
}

#chat-section {
    height: 50% !important;
    width: 100%;
}

#width-preview {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

#width-slider {
    position: relative;
    appearance: none;
    background: none;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    height: 50%;
}

#width-slider::-webkit-slider-runnable-track {
    position: relative;
    background-color: transparent;
    height: 100%;
    border: 1px solid var(--slider-thumb-color);
}

#width-slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    width: 5%;
    height: 100%;
    background-color: var(--slider-thumb-color);
    border: 1px solid grey;
    top: 50%;
    transform: translateY(-50%);
}

#comment-row {
    position: relative;
    padding: 0px;
}

#comment-window {
    position: relative;
    padding: 0px;
}

#update-button {
    border-color: var(--lime-green);
    height: 100%;
    width: 100%;
}