#side-bar-container {
    position: absolute;
    right: 0px;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
}

#side-bar-overlay {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30vw;
    height: 100vw;
}

#edit-section {
    height: 60vh;
}

#chat-section {
    height: 40vh;
}

#width-slider {
    --slider-thumb-bg: radial-gradient(white 0px,white 2px, transparent 2px, transparent 100%);
    position: relative;
    appearance: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#width-slider::-webkit-slider-runnable-track {
    position: relative;
    background-color: transparent;
    border: 1px dashed white;
    height: 8px;
    border-radius: 25px;
}

#width-slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background: var(--slider-thumb-bg);
    border: 1px dashed white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#comment-row {
    margin-top: -.5px;
}
