#side-bar-container {
    position: absolute;
    right: 0px;
    width: 30vw;
    height: 100vh;
    border-radius: 25px;
    overflow: hidden;
}

#side-bar-overlay {
    background: rgba(0, 0, 0, 0.88);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30vw;
    height: 100vw;
}

#width-slider {
    --slider-thumb-bg: radial-gradient(white 0px,white 2px, transparent 2px, transparent 100%);
    position: relative;
    appearance: none;
    background: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.button {
    margin: 8%;
    border-radius: 10px;
    /* From https://css.glass */
    background: rgba(255, 251, 251, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}

#clear-button {
    margin: 16%;
    background-color: white;
    border-radius: 10px;
}

#comment-window {
    margin: 2%;
    background-color: white;
    border-radius: 10px;
}

.relative {
    position: relative;
}