.perm-button { 
    width: 50%;
    height: 30px;
    border-radius: 30px;
}
.perm-button:hover {
    border: 1px solid rgb(150, 150, 150);
}

.set-inspecting-borderless {
  background: var(--inspecting);
}

.user-panel {
    padding-bottom: 2%;
    overflow-y: scroll;
}