:root {
    --border-color: rgb(150,150,150);
}

.perm-button { 
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color);
}
.perm-button:hover {
    outline: 1px solid var(--border-color);
}

.set-inspecting-borderless {
  background: var(--inspecting);
}

.user-panel {
    width: 100%;
    height: 7.5%;
}