.chat-window {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: width .5s, height .5s, opacity .5s, right .5s;
}

#nav-menu {
    width: 100%;
    height: 10%;
}

#msg-container *{
    transition: opacity .5s, width .5s, height .5s;
}

#msg-field {
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    width: 100%;
    height: 40vh;
    z-index: 1;
    scrollbar-color: var(--electric-blue) transparent;
}

#people-field, #room-field {
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#color-heading {
    font-size: min(1.25vw, 2.75vh);
    text-align: center;
}

#input-container {
    height: max(50px, 5vh);
    background-color: var(--grey-accent);
}

#people-container {
    height: 100%;
    background-color: var(--menu-color);
    overflow-y: auto;
    scrollbar-color: var(--electric-blue) transparent;
}

#room-container {
    height: 100%;
    background-color: var(--menu-color);
}

#msg-input input {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 65%;
    border-radius: 5px;
    background-color: rgba(45,45,45,1);
    padding-left: 2.5%;
}


#msg-input input:hover {
    outline: 1px solid white;
}

#msg-submit {
    background-color: var(--inspecting);
    border-left: 1px solid black;
    transition: background-color .1s;
}

#msg-submit:hover {
    background-color: var(--electric-blue);
}

#msg-submit:active {
    background-color: var(--raspberry);
}