@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --inspecting: rgba(80, 80, 80, .5);
  --lime-green: #32cd32;
  --soft-blue: #add8e6;
  --electric-blue: #9198e5;
  --raspberry: #e66465;
  --menu-color: rgba(15,15,15,1);
  --grey-accent: rgb(30,30,30);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.test-border {
  border: 1px solid red;
}

.relative {
  position: relative;
}

.relative-center {
  position: relative;
  transform: translate(50%, 50%);
}

.grid-box {
    border: 1px solid red;
}

.glassy {
    /* From https://css.glass */
    background: rgba(15, 15, 15, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(25, 25, 25, 1);
    transition: background .2s;
    user-select: none;
}

.glassy:hover {
  background: var(--inspecting);
}

.set-inspecting {
  background: var(--inspecting);
  border: 1px solid rgb(150, 150, 150, 1);
}

.relative {
    position: relative;
}

.hidden {
  display: none;
}

.thin-text {
  font-weight: lighter;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}