.enter-btn {
    width: 60%;
    height: 1.8rem;
    border-radius: 5px;
    background-color: rgb(30,30,30);
    box-shadow: 0px 0px 4px black;
    transition: background-color .2s, color .2s, transform .2s;
    margin-top: .5rem;
}

.enter-btn:hover {
    background-color: white;
    color: black;
}
.enter-btn:active {
    transform: scale(.97);
}

#home-title-section {
    position: absolute;
    top: 15%;
    left: 5%;
}

#site-title {
    position: relative;
    font-size: clamp(40px, 8rem, 90px);
    font-weight: 200;
    letter-spacing: min(10px, .1rem);
}

#site-description {
    font-size: 1.5vmax;
    font-weight: 200;
}

.home-form-container {
    height: 100%;
    width: 100%;
}

.home-form-container canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#form-container {
    position: absolute;
    top: 2%;
    right: 2%;
    height: 40rem;
    max-height: 80vh;
    min-width: 300px;
    border-radius: 10px 10px;
    background: linear-gradient(180deg, transparent 0%, transparent 0%, var(--grey-accent) 0%, var(--grey-accent));
    box-shadow: 0px 0px 5px rgb(44, 44, 44);
    overflow-y: auto;
    scrollbar-color: white transparent;
}

#form-container form {
    position: relative;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 70%;
    min-height: 400px;
    min-width: 200px;
    background-color: var(--menu-color);
    border-radius: 10px 10px 0px 0px;
}

#form-container input {
    width: 100%;
    height: 3rem;
}

.input-title {
    height: max(1rem, 20px);
}

.section-header {
    height: fit-content;
    font-size: clamp(30px, 2rem, 45px);
}

#form-container input {
    background-color: rgb(31, 53, 53);
    max-width: 75%;
    height: auto;
    min-height: 20px;
    border-radius: 5px;
    padding-left: .5rem;
    transition: background-color .2s, color .2s;
}

#form-container input:hover {
    background-color: whitesmoke;
    color: black;
}


#room-create-section {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey-accent);
}

#instruction-section {
    position: relative;
    top: 2%;
    left: 50%;
    width: 90%;
    height: auto;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 300;
    transform: translateX(-50%);
}

#instruction-section p {
    font-weight: 600 !important;
}

#instruction-section ol {
    font-size: clamp(5px, .9rem, 15px);
}

#footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background-color: var(--grey-accent);
}

#home-link-container {
    position: relative;
    left: 2%;
    width: 25%;
    height: 100%;
}

.home-link {
    position: relative;
    top: 50%;
    left: 50%;
    height: 3rem;
    max-height: 8vh;
    border-radius: 1.5rem;
    aspect-ratio: 1 / 1;
    background-color: var(--menu-color);
    transform: translate(-50%, -50%);
    transition: background-color .2s;
}

.home-link:hover {
    background-color: var(--electric-blue);
}