.enter-btn {
    width: 60%;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(30,30,30);
    box-shadow: 0px 0px 4px black;
    transition: background-color .2s, color .2s, transform .2s;
}

.enter-btn:hover {
    background-color: white;
    color: black;
}
.enter-btn:active {
    transform: scale(.97);
}

#home-title-section {
    position: absolute;
    top: 15%;
    left: 5%;
}

#site-title {
    position: relative;
    font-size: 7vmax;
    font-weight: 200;
    letter-spacing: min(10px, .75vw);
}

#site-description {
    font-size: 1.5vmax;
    font-weight: 200;
}

.home-form-container {
    width: 100%;
    height: 100vh;
}

#form-container {
    position: absolute;
    top: 2%;
    right: 2%;
    height: 75vh;
    min-height: 500px;
    aspect-ratio: 2 / 3;
    max-width: 55%;
    border-radius: 10px 10px;
    background: linear-gradient(180deg, transparent 0%, transparent 50%, var(--grey-accent) 50%);
    box-shadow: 0px 0px 5px rgb(44, 44, 44);
}

#form-container form {
    position: relative;
    padding: 20px;
    padding-bottom: 40px;
    width: 100%;
    height: 70%;
    min-width: 200px;
    background-color: var(--menu-color);
    border-radius: 10px 10px 0px 0px;
}

#form-container input {
    width: 100%;
    height: 20%;
}

.input-title {
    height: max(1vh, 20px);
}

.section-header {
    height: fit-content;
    font-size: max(5vh, 30px);
}

#form-container input {
    background-color: rgb(31, 53, 53);
    max-width: 75%;
    height: 3.5vh;
    min-height: 20px;
    border-radius: 5px;
    padding-left: 5px;
    transition: background-color .2s, color .2s;
}

#form-container input:hover {
    background-color: whitesmoke;
    color: black;
}


#room-create-section {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey-accent);
}

#instruction-section {
    position: relative;
    top: 2%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    line-height: 2;
    letter-spacing: 1px;
    font-size: clamp(14px, 1vmax, 17px);
    font-weight: 300;
    transform: translateX(-50%);
}

#instruction-section p {
    font-size: clamp(14px, 1.5vmax, 18px) !important;
    font-weight: 600 !important;
}

#footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10vh;
    background-color: var(--grey-accent);
}

#home-link-container {
    position: relative;
    left: 2%;
    width: 25%;
    height: 100%;
}

.home-link {
    position: relative;
    top: 50%;
    left: 50%;
    height: min(6vw, 7.5vh);
    border-radius: min(3vw, 3.75vh);
    aspect-ratio: 1 / 1;
    background-color: var(--menu-color);
    transform: translate(-50%, -50%);
    transition: background-color .2s;
}

.home-link:hover {
    background-color: var(--electric-blue);
}